*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container{
    border-radius: 15px;
    padding: 20px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.container h1{
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding: 20px;
    background-color: transparent;
}

.input-section{
    display: flex;
    gap:8px;
    margin-bottom: 15px;
}

input, select{
    padding: 8px;
    flex:1;
}

#add-btn{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 6px;
}

#expense-list{
    list-style: none;
    padding: 0;
}

#expense-list li{
    display: flex;
    justify-content: space-between;
    margin-bottom:8px;
    background: #f1f2f6;
    padding: 8px;
    border-radius: 6px;
}

.delete-btn{
    color: red;
    padding: 5px;
    font-size: 16px;
}